<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.KlassStudentDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="getKlassStudentByCourseID"  resultType="com.entity.KlassStudent">
        SELECT * FROM  standard_seminar_system.klass_student WHERE course_id=#{courseId}
    </select>
    <select id="getKlassStudentByStudentIdAndKlassId"  resultType="com.entity.KlassStudent">
        SELECT * FROM  standard_seminar_system.klass_student WHERE student_id=#{0} and klass_id=#{1}
    </select>
    <select id="getKlassStudentByTeamID"  resultType="com.entity.KlassStudent">
        SELECT * FROM  standard_seminar_system.klass_student WHERE team_id=#{0} and course_id=#{1}
    </select>
    <select id="getKlassStudentWithNoTeam"  resultType="com.entity.KlassStudent">
        SELECT * FROM  standard_seminar_system.klass_student WHERE team_id is null and course_id=#{0}
    </select>
</mapper>