<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.KlassDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="getKlassIDByCourseID"  resultType="Integer">
        SELECT id FROM  standard_seminar_system.klass WHERE course_id=#{courseId}
    </select>
    <select id="getKlassIDByStudentID"  resultType="Integer">
        SELECT klass_id FROM  standard_seminar_system.klass_student WHERE student_id=#{0}
    </select>
    <select id="getKlassByKlassID"  resultType="com.entity.Klass">
        SELECT * FROM  standard_seminar_system.klass WHERE id=#{0}
    </select>
    <select id="getKlassByCourseID"  resultType="com.entity.Klass">
        SELECT * FROM  standard_seminar_system.klass WHERE course_id=#{courseId}
    </select>
</mapper>